mixin card-hotel-room(props={})
    -const { roomNumber, roomImg, isLuxe, starNum, roomCost, currency, revNum } = props;
    .card-hotel-room
        .card-hotel-room__image-slider.js-card-hotel-room__image-slider(data-img=roomImg)
                img(src=require("source/blocks/card-hotel-room/pictures/"+roomImg))
                img(src=require("source/blocks/card-hotel-room/pictures/"+roomImg))
                img(src=require("source/blocks/card-hotel-room/pictures/"+roomImg))
                img(src=require("source/blocks/card-hotel-room/pictures/"+roomImg))
        .card-hotel-room__info
            include ../../blocks/rating/rating
            .card-hotel-room__info-row
                .card-hotel-room__info-room
                    span.card-hotel-room__number-symbol № 
                    span.card-hotel-room__room-number=roomNumber
                    if isLuxe
                        span.card-hotel-room__room-class="люкс"
                    else
                .card-hotel-room__info-price
                    span.card-hotel-room__room-cost=roomCost
                    span.card-hotel-room__cost-currency=currency 
                    span.card-hotel-room__duration в сутки
            span.card-hotel-room__info-divider
            .card-hotel-room__info-row
                    +rating({ rate: starNum, ratingName: roomNumber })
                    .card-hotel-room__info-guest
                        span.card-hotel-room__review-number=revNum 
                        .card-hotel-room__review-text Отзывов
                             
                    