mixin hotel-room-card(imgHref="room-888.jpg",number="888",isLuxe=true,starNum=5,roomCost="9 990",revNum="145 ")
    .hotel-room-card.card
        .card__image-slider
                img(src="../../../source/pictures/rooms/"+imgHref)
                img(src="../../../source/pictures/rooms/"+imgHref)
                img(src="../../../source/pictures/rooms/"+imgHref)
                img(src="../../../source/pictures/rooms/"+imgHref)  
        .hotel-room__info
            .info-row
                .info__room
                    p № 
                    p.room__number=number
                    if isLuxe
                        p.room__class="люкс"
                    else
                .info__price
                    p.cost=roomCost
                    p ₽ 
                    p  в сутки
            span.divider
            .info-row
                include ../../blocks/rating/rating
                if isLuxe
                    +rating(starNum,number+"-room")
                else
                    +rating(starNum,number+"-room")
                <div class="info__guest">
                    b.reviewNumber=revNum 
                    span Отзывов
                </div>
                             
                    