mixin card-hotel-room(number="888",roomImg="room-888.jpg",isLuxe=true,starNum=5,roomCost="9 990",revNum="145 ")
    .card-hotel-room.card
        .card__image-slider(data-img=roomImg)
                img(src=require("assets/pictures/"+roomImg))
                img(src=require("assets/pictures/"+roomImg))
                img(src=require("assets/pictures/"+roomImg))
                img(src=require("assets/pictures/"+roomImg))
        .hotel-room__info
            .info-row
                .info__room
                    p № 
                    p.room__number=number
                    if isLuxe
                        p.room__class="люкс"
                    else
                .info__price
                    p.cost=roomCost
                    p ₽ 
                    p  в сутки
            span.divider
            .info-row
                include ../../blocks/rating/rating
                if isLuxe
                    +rating(starNum,number+"-room")
                else
                    +rating(starNum,number+"-room")
                <div class="info__guest">
                    b.reviewNumber=revNum 
                    span Отзывов
                </div>
                             
                    