mixin like-button(num="2",isActive=false)
        if isActive 
            -buttonClass=" active"
            -heartText="favorite"
        else
            -buttonClass=" "
            -heartText="favorite_border"
        div(class="like-button"+buttonClass)
            .js-like-button__body.like-button__body
                .body__like-img.js-body__like-img
                    i.material-icons.md-10.js-heart.heart=heartText
                .js-body__like-nmbr.body__like-nmbr=num