mixin header(props={})
    -const { headerItems, authorization, userName } = props;
    header.header
        .header__body 
            .header__logo
                +logo({
                    isColored: true
                }) 
            nav.header__menu.js-header__menu
                ul.header__nav.js-header__nav
                    -const { items } = headerItems
                    each el in items
                        if el.item.length > 1
                            li.header__item.js-header__options.header__options 
                                span.header__options-heading=el.item[0]
                                .header__options-bar
                                    a.header__options-item(href="")=el.item[1]
                                    a.header__options-item(href="")=el.item[2]
                        else 
                            li.header__item
                                a.header__item-href(href="")=el.item         
                    if authorization != true
                        li.header__entry-bar
                            a.header__sign-in-href(href="sign-in.html")
                                +button({buttonType: "button-border",text: "войти"})
                            a.header__registration-href(href="registration.html")
                                +button({buttonType: "button-filled",text: "зарегистрироваться"})
                if authorization
                    .header__menu-smallscr.js-header__menu-smallscr
                        .header__entry-bar 
                            span.header__login=userName
                        .header__nav-smallscr.js-header__nav-smallscr
                            span.header__nav-btn
                        .header__entry-bar-smallscr
                            a.header__entry-bar-href(href="empty")
                                i.material-icons person
                else
                    .header__menu-smallscr.js-header__menu-smallscr    
                        .header__nav-smallscr.js-header__nav-smallscr
                            span
                        .header__entry-bar-smallscr.header__entry-bar-login.smallscr
                            a(href="sign-in.html")
                                i.material-icons input
                        .header__entry-bar-smallscr.header__entry-bar-register.smallscr 
                            a(href="registration.html")
                                i.material-icons person_add                           