mixin select(props={})
    -const { selectType, isActive, selectValues } = props;        
    -let minValue = 0;
    -let names, listData;
    -let selectClass;
    if isActive
        -selectClass ='select js-select active'
    else
        -selectClass ='select js-select'
    if selectType =='rooms'
        -names = ['спальни', 'кровати', 'ванные комнаты']
        -listData = ['bedrooms', 'beds', 'bathrooms']
    else if selectType == 'guests'
        -names = ['взрослые', 'дети', 'младенцы']
        -listData = ['guests', 'guests', 'babies']
    div(class=selectClass,data-type=selectType)
        if selectType =='guests'
            .js-select__text.select__text(data-type='guests') Сколько гостей
        if selectType == 'rooms'
            .js-select__text.select__text(data-type='rooms') Выберите комнаты                            
        .select__bar.js-select__bar
            ul.select__list.js-select__list
                -let i = 0
                each name in names
                    if selectValues[i]<0
                        -vals[i]=minValue
                    .js-select__group.select__group(data-item=listData[i])
                        li.select__item.js-select__item=names[i]
                        .select__buttons.js-select__buttons
                            if selectValues[i]==minValue
                                button.js-select__button-minus.select__button-minus.js-select__button.select__button -
                            else
                                button.js-select__button-minus.select__button-minus.js-select__button.select__button.active -
                            span.js-select__count.select__count=selectValues[i]
                            button.js-select__button-plus.select__button-plus.js-select__button.select__button +
                    -i++
            if selectType =='guests'
                .select__edit-buttons.js-select__edit-buttons
                    .select__button-clear.select__edit-button.js-select__button-clear
                        include ../button/button
                        +button({buttonType: 'button-icon',text: 'очистить',isGray: 1})
                    .select__button-accept.select__edit-button.js-select__button-accept
                        include ../button/button
                        +button({buttonType: 'button-icon',text: 'применить',isGray: false})