mixin select(selectType='guests',isActive=false,values=[0,0,0])
            -let minValue = 0;
            -let names, listData;
            -let selectClass;
            if isActive
                -selectClass ='select js-select active'
            else
                -selectClass ='select js-select'
            if selectType =='rooms'
                -names = ['спальни', 'кровати', 'ванные комнаты']
                -listData = ['bedrooms', 'beds', 'bathrooms']
            else if selectType == 'guests'
                -names = ['взрослые', 'дети', 'младенцы']
                -listData = ['guests', 'guests', 'babies']
            div(class=selectClass,data-type=selectType)
                .select__body.js-select__body
                    if selectType =='guests'
                        .js-select__text.select__text(type='guests') Сколько гостей
                    if selectType == 'rooms'
                        .js-select__text.select__text(type='rooms') Выберите комнаты                            
                    .select__bar.js-select__bar
                        ul.select__list.js-select__list
                                -let i = 0
                                each name in names
                                    if values[i]<0
                                        -vals[i]=minValue
                                    .js-select__group.select__group(data-item=listData[i])
                                        li.select__item.js-select__item=names[i]
                                        .select__buttons.js-select__buttons
                                            if values[i]==minValue
                                                .js-select__button-minus.select__button-minus.js-select__button.select__button -
                                            else
                                                .js-select__button-minus.select__button-minus.js-select__button.select__button.active -
                                            p.js-select__count.select__count=values[i]
                                            .js-select__button-plus.select__button-plus.js-select__button.select__button +
                                    -i++
                        if selectType =='guests'
                            .select__edit-buttons.js-select__edit-buttons
                                .select__button-clear.select__edit-button.js-select__button-clear
                                    include ../button-icon/button-icon
                                    +button-icon('очистить',1)
                                .select__button-accept.select__edit-button.js-select__button-accept
                                    include ../button-icon/button-icon
                                    +button-icon('применить',0)