doctype html
html(lang="en")
    head
        meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="colors-and-type.scss")
        meta(name="msapplication-TileColor" content="#da532c")
        meta(name="theme-color" content="#ffffff")
        link(rel="apple-touch-icon" sizes="180x180" href="./assets/favicons/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="./assets/favicons/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="./assets/favicons/favicon-16x16.png")
        link(rel="manifest" href="./assets/favicons/site.webmanifest")
        link(rel="mask-icon" href="./assets/favicons/safari-pinned-tab.svg" color="#5bbad5")
        title Colors and type
    body
        mixin color-set(name,color,opacity="")
            .color-set
                .color-set__color-box(style="background: " + color + "; opacity: " + opacity)
                .color-set__text-box
                    .color-set__text-header=name+' '+ opacity
                    .color-set__color-name=color
        mixin type-set(header,text,size)
            div(class="type-set type-set-"+header style="font-size: " +size)
                p.type-set__header=header 
                .type-set__text=text   
        include ../../blocks/logo/logo
        +logo()
        .colors-and-type__container
            .colors-and-type__column-color 
                +color-set('dark shade','#1F2041','100%') 
                +color-set('dark shade','#1F2041','75%')
                +color-set('dark shade','#1F2041','50%')
                +color-set('dark shade','#1F2041','25%')
                +color-set('dark shade','#1F2041','5%')
                +color-set('purple','#BC9CFF')  
                +color-set('green','#6FC97F')  
            .colors-and-type__column-type   
                +type-set('H1','This one is the sub-section or widget title','24px')
                +type-set('H2','Next one is the item title inside widgets','19px')
                +type-set('H3','This is a label or CTA text','12px')
                +type-set('body','This is the body text which is used for most of the design, like paragraphs, lists, etc.','14px')