mixin button(buttonType='button-arrow',text='',gray=false)
    -let buttonClass;
    if buttonType == 'button-icon'
        if gray
            -buttonClass= 'button-icon gray'
        else
            -buttonClass= 'button-icon'
        button(class=buttonClass, type="submit")=text
    else if buttonType == 'button-border'
        button.button-border 
            .button-border__text(type="submit")=text
    else
        button(class=buttonType, type="submit")=text