mixin card-booking(props={})
            -const {number,roomClass, cost, currency, selectTitle, selectType, isActive, selectNum } = props;
            .card-booking.js-card-booking
                .card-booking__info
                    .card-booking__room-info
                        span.card-booking__number-symbol="№ "
                        span.card-booking__number-value=number
                        span.card-booking__room-class=roomClass
                    .card-booking__price-info.js-card-booking__price-info(data-currency=currency)
                        span.card-booking__price-value.js-card-booking__price-value=cost+currency
                        span.card-booking__price-interval в сутки
                include ../../blocks/date-dropdown/date-dropdown
                +date-dropdown
                p.card-booking__subtitle=selectTitle
                +select({selectType: selectType,isActive: isActive,selectValues: selectNum})
                .card-booking__costs
                    .card-booking__room.card-booking__item
                        span.js-card-booking__room-description.card-booking__room-description.card-booking__description Стоимость номера
                        span.js-card-booking__room-price.card-booking__room-price 0₽
                    .card-booking__discount.card-booking__item.js-card-booking__discount
                        span.card-booking__discount-description.js-card-booking__discount-description.card-booking__description Сбор за услуги: скидка 2 179₽
                            span.card-booking__info-icon i
                        span.card-booking__discount-price 0₽
                    .card-booking__additional.card-booking__item
                        span.card-booking__additional-description.card-booking__description Сбор за дополнительные услуги
                            span.card-booking__info-icon i
                        span.js-card-booking__additional-price.card-booking__additional-price 0₽
                    .card-booking__total.card-booking__item
                        span.card-booking__total-description Итого
                        span.card-booking__total-divider
                        span.js-card-booking__total-price.card-booking__total-price 0₽
                    +button({ buttonType:"button-arrow", text:"забронировать", isGray: false})
                    