mixin card-comment(props={})
        -const {likesNum,isActiveLikeBtn, profileName, image, commentDate, commentText} = props;
        .card-comment(data-img=image)
            .card-comment__profile
                .card-comment__avatar
                    img.card-comment__img(src=require('source/blocks/card-comment/pictures/'+image))
                include ../../blocks/like-button/like-button
                +like-button({
                    isLikeBtnActive: isActiveLikeBtn,
                    likesNum: likesNum
                    })
            .card-comment__review
                .card-comment__info
                    span.card-comment__info-name=profileName
                    span.card-comment__info-date=commentDate
                p.card-comment__text=commentText