mixin date-dropdown(isUIelem=false)
        -let fName,sName;
        if isUIelem
            -fName="date dropdown";
            -sName="date dropdown";
        else 
            -fName="прибытие";
            -sName="выезд";
        .date-dropdown
            .date__bar.js-date__bar
                .js-date__item.date__item
                    p.item__name=fName
                    input.js-first-date.first-date(type="text", placeholder="ДД.ММ.ГГГГ")
                .date__item
                    p.item__name=sName
                    input.js-second-date.second-date(type="text", placeholder="ДД.ММ.ГГГГ")