mixin footer
    -const header = ['Навигация','О нас','Служба поддержки','Подписка'];
    -const item1 = ['О нас','О сервисе','Соглашения','Получайте специальные предложения и новости сервиса'];
    -const item2 = ['Новости','Наша команда','Сообщества'];
    -const item3 = ['Служба поддержки','Вакансии','Связь с нами'];
    -const item4 = ['Услуги','Инвесторы'];

        footer.footer
            .footer__body 
                .footer__info-bar 
                    .footer__logo-bar 
                        +logo(true)
                        p.footer__logo-bar_info Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
                    -let i=0
                    each item in header
                        ul.footer__nav-bar
                            li.footer__item_header=header[i]
                            li.footer__item
                                a(href="")=item1[i]
                            if i==2
                                li.footer__item
                                    a(href="")=item2[i]
                                li.footer__item
                                    a(href="")=item3[i]
                            else if i==3
                                li.footer__item
                                    +text-field-subscription
                            else
                                li.footer__item
                                    a(href="")=item2[i]
                                li.footer__item
                                    a(href="")=item3[i]
                                li.footer__item
                                    a(href="")=item4[i]
                            -i++      
            .footer__border
            .footer__copyright-bar 
                p.footer__copyright-bar_info Copyright © 2018 Toxin отель. Все права зачищены.
                .footer__media-bar
                    a.footer__tweet(href="") 
                        img.footer__img(src=require('source/blocks/footer/pictures/tweet.svg'))
                    a.footer__fb(href="") 
                        img.footer__img(src=require('source/blocks/footer/pictures/fb.svg'))
                    a.footer__inst(href="") 
                        img.footer__img(src=require('source/blocks/footer/pictures/inst.svg'))